* {
    margin-top: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

img {
    border: 1px solid #004225;
}

a {
    color: #004225;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
	height: 90px;
    padding-top: 20px;
    color:white;
	background-color:#3B7E00;    
    line-height: 2em;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
}

header h1, header h3 {
    margin-left: 10px;
}

header h1 {
    font-family: 'Bungee', cursive;
}

header a {
    color: #FFFFFF;
}

header a:hover {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 25px;
    color:white;
	background-color:#004225;
    margin-right: 10px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    color: #5BBC00;
}

.container {
    min-height: 100%;
    background-color: #E0E0E0;
}

.content {
    background-color:#FFFFFF;
    width: 1000px;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 5px;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}